.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BDCFC666;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height:170px;
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .textContainer {
    max-width: 60%;
    color: #254336;
  }
  
  .greeting {
    font-family: 'Lufga';
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
    margin-top: -10px;
  }
  
  .username {
    font-weight: 600;
  }
  
  .message {
    font-family: 'Lufga';
    font-weight: 400;
    font-size: 1.5vh;
    margin-left: 20px;
  }
  
  .link {
    color: #000;
    font-family: 'Lufga';
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    text-decoration: none;

  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .imageContainer {
    max-width: 40%;
  }
  
  .image {
    max-width: 100%;
    height: 30vh;
    border-radius: 8px;
  }
  