/* Blogs.css

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lufga', sans-serif;
  background-image: url('/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow-y: scroll; 
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 10vh;
}

.blog-box {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0.5vw;
  height:25vh;
  width: 80vw;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 50px;
  background-color: rgba(133, 170, 151, 0.5);
  transition: transform 0.2s, box-shadow 0.2s, height 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none; 
  color: inherit; 
  overflow: hidden; 
}

.text-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}
.blog-box.expanded {
  height: auto; 
}

.blog-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.blog-box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 150px); 
  padding: 0 20px; 
}

.blog-box.even {
  flex-direction: row-reverse;
}

.blog-box .blog-image {
  width: 130px; 
  height: auto;
  object-fit: cover; 
  border-radius: 40px; 
}

.blog-box h2 {
  margin: 0 0 10px;
  font-family: 'Lufga', sans-serif;
  color: #254336;
  font-size: 1.5em; 
}

.blog-box p {
  margin: 0;
  font-family: 'Lufga', sans-serif;
  color: #254336;
  font-size: 1em; 
}
.read-more {
  display: inline-block;
  padding: 1.5vh 2vh;
  margin-top: 2vh;
  background-color:#f2f2f2;
  color: #254336;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10vh;
  border-color: #254336;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  color:#f2f2f2;
  background-color:#254336;
}

.read-more:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
} */


.background {
  overflow-y: visible;
  display: flex;
  width: 100%;
  height: auto;
  background-image: url('/LandingPage/Background.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: repeat;
  background-position: bottom;
  margin: 0;
  z-index: -1;
}

.blogContainer{
  width: 100%;
  height: inherit;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogContainer span{
  height: 10px;
  width: 100%;
}


@media (max-width: 908px) {
  .blogContainer{
    margin-top: 4vh;
  }
  
}