.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  width: 100%; /* Ensure the container takes the full width */
=======
  width: 100%;
  /* Ensure the container takes the full width */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 24px;
  position: fixed;
  top: 0;
<<<<<<< HEAD
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust back to center */
  width: 90%; /* Adjust width as needed */
=======
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Adjust back to center */
  width: 90%;
  /* Adjust width as needed */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
  height: 5vh;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: #ffffffcc;
  border-bottom: #838383cc;
}

.logo img {
  height: 40px;
  padding-left: 2vh;
<<<<<<< HEAD
=======
  margin-top: 32px;
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
<<<<<<< HEAD
  margin: 0 1vw; /* Use vw for horizontal spacing */
  font-family: 'Lufga', sans-serif;
  text-decoration: none;
  color: #254336; /* Change the color to #254336 */
  font-weight: bold; /* Make the text bold */
}

.nav-links span {
  margin: 0 1vw; /* Use vw for horizontal spacing */
  color: #254336; /* Change the color to #254336 */
}

.nav-links .icon {
  height: 24px; /* Adjust the size of the search icon */
  margin-left: 2vw; /* Use vw for spacing */
=======
  margin: 0 1vw;
  /* Use vw for horizontal spacing */
  font-family: 'Lufga', sans-serif;
  text-decoration: none;
  color: #254336;
  /* Change the color to #254336 */
  font-weight: bold;
  /* Make the text bold */
}

.nav-links span {
  margin: 0 1vw;
  /* Use vw for horizontal spacing */
  color: #254336;
  /* Change the color to #254336 */
}

.nav-links .icon {
  height: 24px;
  /* Adjust the size of the search icon */
  margin-left: 2vw;
  /* Use vw for spacing */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.icons .icon,
.icons .bell,
.icons .settings,
.icons .avatar {
  height: 24px;
<<<<<<< HEAD
  margin-left: 2vw; /* Use vw for spacing */
=======
  margin-left: 2vw;
  /* Use vw for spacing */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
  cursor: pointer;
}

.signup,
.login {
  font-family: 'Lufga', sans-serif;
  padding: 5px 15px;
  font-weight: bold;
<<<<<<< HEAD
  border: none;
  margin-left: 2vw; /* Use vw for spacing */
=======
  font-size: 17px;
  border: none;
  margin-left: 2vw;
  /* Use vw for spacing */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
  cursor: pointer;
  cursor: pointer;
}

.signup {
<<<<<<< HEAD
  background-color: #ffffff; /* White background for SignUp */
  color: #254336; /* Text color */
  border: 2px solid #254336; /* Border */
  border-radius: 5px; /* Rounded corners */
}

.signup:hover {
  background-color: #254336; /* Background on hover */
  color: #ffffff; /* Text color on hover */
}

.login {
  background-color: #254336; /* Background for Login */
  color: #ffffff; /* Text color */
  border: 2px solid #254336; /* Border */
  border-radius: 5px; /* Rounded corners */
}

.login:hover {
  background-color: #ffffff; /* Background on hover */
  color: #254336; /* Text color on hover */
=======
  background-color: #ffffff;
  /* White background for SignUp */
  color: #254336;
  /* Text color */
  width: 123px;
  height: 41px;
  top: 62px;
  left: 1245px;
  gap: 0px;
  border-radius: 25px ;
  opacity: 0px;
}

.signup:hover {
  background-color: #254336;
  /* Background on hover */
  color: #ffffff;
  /* Text color on hover */
}

.login {
  background-color: #254336;
  /* Background for Login */
  color: #ffffff;
  /* Text color */
  width: 123px;
  height: 41px;
  top: 62px;
  left: 1245px;
  gap: 0px;
  border-radius: 25px ;
  opacity: 0px;

}

.login:hover {
  background-color: #ffffff;
  /* Background on hover */
  color: #254336;
  /* Text color on hover */
>>>>>>> 5bde4c7 (LogIn, SignUp and Headers Button changes)
}