.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Ensure the container takes the full width */

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 24px;
  position: fixed;
  top: 0;
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Adjust back to center */
  width: 90%;
  /* Adjust width as needed */
  height: 5vh;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: #ffffffcc;
  border-bottom: #838383cc;
}

.logo img {
  height: 40px;
  padding-left: 2vh;
  margin-top: 32px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 1vw;
  /* Use vw for horizontal spacing */
  font-family: 'Lufga', sans-serif;
  text-decoration: none;
  color: #254336;
  /* Change the color to #254336 */
  font-weight: bold;
  /* Make the text bold */
}

.nav-links span {
  margin: 0 1vw;
  /* Use vw for horizontal spacing */
  color: #254336;
  /* Change the color to #254336 */
}

.nav-links .icon {
  height: 24px;
  /* Adjust the size of the search icon */
  margin-left: 2vw;
  /* Use vw for spacing */
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.icons .icon,
.icons .bell,
.icons .settings,
.icons .avatar {
  height: 24px;
  margin-left: 2vw;
  /* Use vw for spacing */
  cursor: pointer;
}

.signup,
.login {
  font-family: 'Lufga', sans-serif;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  margin-left: 2vw;
  /* Use vw for spacing */
  cursor: pointer;
  cursor: pointer;
}

.signup {
  background-color: #ffffff;
  /* White background for SignUp */
  color: #254336;
  /* Text color */
  width: 123px;
  height: 41px;
  top: 62px;
  left: 1245px;
  gap: 0px;
  border-radius: 25px ;
  opacity: 0px;
}

.signup:hover {
  background-color: #254336;
  /* Background on hover */
  color: #ffffff;
  /* Text color on hover */
}

.login {
  background-color: #254336;
  /* Background for Login */
  color: #ffffff;
  /* Text color */
  width: 123px;
  height: 41px;
  top: 62px;
  left: 1245px;
  gap: 0px;
  border-radius: 25px ;
  opacity: 0px;

}

.login:hover {
  background-color: #ffffff;
  /* Background on hover */
  color: #254336;
  /* Text color on hover */
}

.dropdownMenu {
  position: absolute;
  top: 90%;
  right: 0;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
}

.dropdownItem {
  display: block;
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}