.masterContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.readMoreBtn {
    margin-left: 10vh;
    width: 100px;
    border-radius: 25px;
    height: 50px;
    border: none;
    margin-bottom: 5vh;
    z-index: 1000;
    text-decoration: none;
    background-color: white;
    text-align: center;
    align-content: center;
    color: black;
}

.container{
    background-color: #85AA9780;
    height: 350px;
    width: 90%;
    display: flex;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.544); /* Subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    overflow: hidden;
    cursor: pointer;
}

.containerExpanded{
    background-color: #85AA9780;
    height: auto;
    width: 90%;
    display: flex;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.544); /* Subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    overflow: hidden;
    cursor: pointer;
    flex-direction: column;
}

.container img{
    width: 150vw;
    height: 100%;
    overflow: hidden;
    align-self: center;
}


.heading{
    margin-top: 3vh;
    margin-left: 5vh;
    text-align: left;
    font-family: 'Lufga', sans-serif;
    font-size: 30px;
    font-weight: 600;

}

.content{
    margin-top: 3vh;
    margin-left: 5vh;
    text-align: left;
    font-family: 'Lufga', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 3vh;
}

.content p{
    text-align: left;
    margin-left: 5vh;
    margin-top: 3vh;
    margin-right: 3vh;
}



.fullContent{
    height: max-content;
}


@media (max-width: 1500px) {
    .heading{
        font-size: 25px;
    }
    .content{
        font-size: 20px;
    }
    
}

@media (max-width: 1200px) {
    .container img{
        width: 300vh;
    }

    .heading{
        font-size: 22px;
    }
    .content{
        font-size: 16px;
    }
}

@media (max-width: 908px) {
    .container img{
        display: none;
    }

    .heading{
        font-size: 4vh;
        margin: 0;
    }
    .content{
        font-size: 2.5vh;
        margin: 0;
    }
}