
.background {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: url('/LandingPage/Background.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0;
  z-index: 1;
  font-family: 'Lufga', sans-serif;
}

.heading{
  width: 70%;
  margin-top: 20vh;
  margin-left: 10vh;

}



.heading p{
  color: #254336;
  margin: 0;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}

.container{
  width: 100%;
}

.containerHeading{
  margin-left: 10vh;
  margin-top: 5vh;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #254336;
  
}

.containerContent{
  display: flex;
  font-size: 23px;
  font-weight: 600;
  margin-left: 10vh;
  justify-content: center;
  align-items: top;
  margin-top: 1vh;
  color: #254336;
}

.containerContent p{
  text-align: left;
  line-height: 1.5;
}

.containerContent img{
  margin-top: -6vh;
}

@media (max-width: 1300px) {
  .container img{
    margin-top: 0;
  }
}

@media (max-width : 908px) {
  .container img{
    display: none;
  }
  
  
  .containerContent{
    margin-left: 5vh;
  }

  .containerHeading{
    margin-left: 5vh;
  }

  .heading{
    margin-left: 5vh;
  }
}