.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BDCFC666;
    padding: 1.5vh;
    margin:0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 10vw;
    height:10vh;
  }
  
  .textContainer {
    max-width: 60%;
  }
  
  .calorie {
    font-family: 'Lufga', sans-serif;
    font-weight: 600;
    font-size: 1.5vh;
    line-height: 1.75vh;
    margin: 0;
  }
  .greeting {
    font-family: 'Lufga', sans-serif;
    font-weight: 200;
    font-size: 1.5vh;
    line-height: 1.75vh;
    margin: 0;
  }
  .username {
    font-weight: 700;
  }
  
  .message {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.5vh;
  }
  
  .link {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5vh;
    line-height: 1.5vh;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .imageContainer {
    max-width: 90%;
  }
  
  .image {
    max-width: 90%;
    height: auto;
    border-radius: 80px;
  }
  