
.loginContainer {
  /* background-color: #ffffff; */
  z-index: 1000;
  position: absolute;
  display: flex;
  font-family: 'Lufga', sans-serif;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  justify-content: center;
  align-items: center;
}
.formContainer {
  height: 700px;
  width: 650px;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  margin-left: 80px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* width: 843px;
  color: grey;
  font-weight: 600;
  font-size: 12px; */

  
}

.imageContainer {
  width:550px;
  height:700px;
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}

.logo {

  width: 98px;
  margin: -6px;
  }

.formContainer h2{
  margin-bottom: 0;
}

.formContainer h4{
  margin-top: 0;
}

.socialsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* .socialsContainer button{

} */

.googleBtn{
width: 70%;
border-radius: 24px;
margin: 6px;
height: 40px;
background-color: white;
font-weight: 700;
border-width: 1px;
align-items: center;
justify-content: center;
display: flex;
background-color: white;
}

.facebookBtn{
width: 70%;
border-radius: 24px;
margin: 6px;
height: 40px;
background-color: white;
font-weight: 700;
border-width: 1px;
align-items: center;
justify-content: center;
display: flex;
background-color: white;
}

.icon {
height: 16px;
width: 16px;
margin-right: 8px;
}

.googleBtn:hover {
background-color: #254336;
cursor: pointer;
transition: background-color 0.3s;
color: white;
}

.facebookBtn:hover{
background-color: #254336;
cursor: pointer;
transition: background-color 0.3s;
color: white;
}

.orSeparator{
margin-top: 30px;
margin-bottom: 10px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
}

.orSeparator .line {
flex: 1;
height: 0.2vh;
margin: 5px;
background-color: #ccc;
}

.loginForm {
  color: grey;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.loginForm label{
margin-top: 10px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
}

.loginForm div{
display: flex;
justify-content: center;
}
.loginForm input{
height: 32px;
width: 100%;
text-align: center;
border-radius: 5px;
border-width: 1px;
}

.loginForm img{
height: 14px;
width: 20px;
}

.passwordInput{
margin-bottom: 10px;
}

.forgotPassword{
color: black;
text-decoration: underline black;
}

.loginBtn{
width: 100%;
border-radius: 24px;
margin: 6px;
margin-top: 20px;
height: 40px;
font-weight: 700;
border-width: 1px;
align-items: center;
justify-content: center;
display: flex;
background-color: #8d8d8d;
color: white;
}



.loginBtn:hover{
background-color: #254336;
cursor: pointer;
transition: background-color 0.3s;
color: white;
}