.card {
    background-color: #BDCFC666;
    border-radius: 10px;

    width: 100%;
    height: 35%;
    text-align: center;
    font-family: "Lufga";
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    justify-content: center;
  }
  
  .avatar {
    padding-top: 2vh;

  }

  .roundImage {
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the element's dimensions */
  }
  
  
  .name {
    font-size: 2.5vh;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .card p {
    color: #666;
    font-size: 1.5vh;
    margin-bottom: 0.5vh;

  }
  
  .info {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
  }
  
.infoItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .infoItem p:first-child {
    font-size: 1.5vh;
    font-weight: bold;
  }

  .line{
    width: 3px;
    margin: 0px 30px 0px 30px;
    background-color: #254336;

  }